button {
  margin-bottom: 20px;
}

#separate {
  > label {
    margin-right: 10px;

    > span {
      padding-left: 25px;
    }
  }
}

#defaultSize {
  margin: 10px 0;
  width: 100%;
}

#longNoteConf {
  > div {
    margin-bottom: 20px;
  }
}
