#editor {
    position: relative;
    height: 200%;
}

.notes > .tap {
    border: solid 1px black;
    background-color: skyblue;
}

.notes > .conect {
    border: solid 1px green;
    background-color: skyblue;
}

.notes > .selected {
    border: solid 1px orangered;
    background-color: orange;
}

.measure {
    height: 0;
}

.measure > * {
    position: relative;
    height: 0;
    width: 2em;

    font-size: large;
    text-align: right;
}

/* --- 背景 --- */

.background {
    width: 100%;
    height: 100%;
}

.background > div {
    position: absolute;
    height: 100%;

    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
