#editor {
  position: relative;
  height: 200%;
}

.notes {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;

  z-index: 999;
}

svg.longSt {
  position: absolute;
  pointer-events: none;

  > path {
    fill: rgba(50, 255, 50, 0.5);
  }
}

svg.longCrv {
  position: absolute;
  pointer-events: none;

  > path {
    fill: rgba(50, 50, 255, 0.5);
  }
}

.note {
  position: absolute;

  > .type0,
  .type10,
  .type11 {
    border: 1px solid blue;
    background-color: skyblue;
  }

  > .control {
    border: 1px solid green;
    background-color: red;
    border-radius: 50%;
    
    z-index: 9999;
  }

  > .selected {
    border: 2px solid red;
    background-color: orange;
  }
}

.measure {
  height: 0;

  > * {
    position: absolute;
    height: 0;
    width: 2em;

    font-size: large;
    text-align: right;
  }
}

/* --- 背景 --- */

.background {
  width: 100%;
  height: 100%;

  > div {
    position: absolute;
    height: 100%;

    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}
